/* Style de base d'une case */
.case-grille {
    -fx-background-color: white; 
    -fx-border-color: #d0d0d0;
    -fx-border-width: 0.5px;
}

/* Case actuellement sélectionnée par le joueur */
.case-selectionnee {
    -fx-background-color: #bbdefb; 
}

/* Chiffre principal rempli par le joueur */
.label-valeur {
    -fx-font-family: 'Arial', sans-serif;
    -fx-font-weight: bold;
    -fx-text-fill: black;
    -fx-alignment: center;
}

/* Style pour le mode HYPOTHÈSE (Grisé et Italique) */
.label-hypothese {
    -fx-font-family: 'Times New Roman', serif;
    -fx-font-style: italic;
    -fx-font-weight: bold;
    -fx-text-fill: #9e9e9e; /* Gris clair */
    -fx-font-weight: normal;
}

/* Petit chiffre de l'opération en haut à gauche (ex: 16+) */
.label-indice {
    -fx-font-family: 'Arial', sans-serif;
    -fx-font-weight: bold;
    -fx-text-fill: #333333; 
    -fx-padding: 2px 0 0 4px; 
}

/* Petits chiffres des notes (Mode Crayon) */
.label-note {
    -fx-font-family: 'Arial', sans-serif;
    -fx-font-weight: normal;
    -fx-text-fill: #666666; 
    -fx-alignment: center;
    -fx-font-size: 10px; /* Taille réduite pour tenir à plusieurs */
}

/* Surbrillance lors de l'utilisation du système d'aide */
.case-indice-surbrillance {
    -fx-background-color: #7dec91; /* Vert clair pour l'indice */
}

/* Style d'erreur lors du clic sur le bouton Vérifier (✔) */
.case-erreur {
    -fx-background-color: #ffcdd2; /* Rouge très clair */
    -fx-border-color: #e57373;
    -fx-border-width: 2px;
}